{% extends 'base.html.twig' %}

{% block body %}
<div class="container marketing offset-100">

    <table class='table'>
    <thead>
        <tr>
            <th>Product</th>
            <th class="text-xs-right">Aantal</th>
            <th class="text-xs-right">Prijs</th>
            <th class="text-xs-right">Bedrag</th>
            <th class="text-xs-right">BTW</th>
        </tr>
    <thead>
    <tbody>
    {% for product in cart.products %}
        <tr>
            <td>
                <img class="img-circle" src="{{ product.image }}" alt="" width="32" height="32">&nbsp;
                {{ product.name }}
            </td>
            <td class="text-xs-right">{{ product.qty }}</td>
            <td class="text-xs-right">&euro; {{ product.priceIncVat | number_format(2, ',', '') }}</td>
            <td class="text-xs-right">&euro; {{ product.subIncVat | number_format(2, ',', '') }}</td>
            <td class="text-xs-right">{{ product.vatPercentage }}%</td>
        </tr>
    {% endfor %}
    <tbody>
    <tfoot>
        <tr>
            <th>Totaal</th>
            <th class="text-xs-right">{{ cart.total.qty }}</th>
            <th class="text-xs-right">&nbsp;</th>
            <th class="text-xs-right">&euro; {{ cart.total.amount | number_format(2, ',', '') }}</th>
            <th class="text-xs-right">&nbsp;</th>
        </tr>
    <tfoot>
    </table>

    <p>
        <a class="btn btn-primary disabled" href="#" role="button">Naar de kassa</a>
        <a class="btn btn-primary" href="{{ path('leegwinkelwagen') }}" role="button">Kiep winkelwagen leeg</a><br />
    </p>

    {% for key, bucket in cart.total.vat %}
        <b>BTW tarief {{ key }}%</b><br />
        Subtotaal &euro; {{ bucket.subExVat | number_format(2, ',', '') }}<br />
        BTW bedrag &euro; {{ bucket.vatAmount | number_format(2, ',', '') }}<br />
        <br />
    {% endfor %}

</div>

</div>
{% endblock %}
