<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sample shop with VAT">
        <meta name="author" content="Paul Heijman">
        <title>{% block title %}Welcome to the Sample Shop{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/extra.css') }}">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}

        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
