<div class="container marketing">
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2016 Paul Heijman &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</div>
