<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">

      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">Waterwinkel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if app.request.hasPreviousSession %}
                {% for flashMessage in app.session.flashBag.get('notice') %}
                    <li class="flash-notice">{{ flashMessage }}</i>
                {% endfor %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav pull-xs-right">
            <li>
                <a href="{{ path('winkelwagen') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <span class="tag tag-default tag-pill">{{ app.session.get('cartQty') }}&nbsp;</span>
                Winkelwagen</a>
            </li>
          </ul>
        </div>

      </div>

    </nav>
  </div>
</div>
