{% extends 'base.html.twig' %}

{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img class="first-slide" src="/gfx/sleepboot.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Sleepboot.</h1>
          <p>Sleepboten zijn de meest ontzagwekkende schepen die er zijn (naast ijsbrekers). En helemaal niet duur aangezien er maar 0% BTW op zit!</p>
          <p><a class="btn btn-lg btn-primary" href="/product/1" role="button">Info &raquo;</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="second-slide" src="/gfx/boek.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Een boek over een sleepboot.</h1>
          <p>Boeken over sleepboten zijn leuk als je geen sleepboot kunt betalen. De toegevoegde waarde van een verhaal over het echte spul is 6%</p>
          <p><a class="btn btn-lg btn-primary" href="/product/2" role="button">Info &raquo;</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="third-slide" src="/gfx/zeewater.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Zeewater.</h1>
          <p>Het spul waar 70% van de aarde mee bedekt is. Prima om je sleepboot op te laten varen! Daarom valt de toegevoegde waarde onder onder het hoogste (21%) tarief. </p>
          <p><a class="btn btn-lg btn-primary" href="/product/3" role="button">Info &raquo;</a></p>
        </div>
      </div>
    </div>

  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div><!-- /.carousel -->


<div class="container marketing">

  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="/gfx/sleepboot.jpg" alt="" width="140" height="140">
      <h2>Sleepboot</h2>
      <p>Voorbeeld product met 0% BTW</p>
      <p><a class="btn btn-default" href="/product/1" role="button">Info &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/gfx/boek.jpg" alt="" width="140" height="140">
      <h2>Boek</h2>
      <p>Voorbeeld product met 6% BTW</p>
      <p><a class="btn btn-default" href="/product/2" role="button">Info &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/gfx/zeewater.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Zeewater</h2>
      <p>Voorbeeld product met 21% BTW</p>
      <p><a class="btn btn-default" href="/product/3" role="button">Info &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div><!-- /.container -->

{% endblock %}
