{% extends 'base.html.twig' %}

{% block body %}
<div class="container marketing offset-100">

    <img class="img-circle" src="{{ product.image }}" alt="" width="140" height="140">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description | raw }}</p>
    <p>&euro; {{ product.price | number_format(2, ',', '') }}</p>
    <p>BTW {{ product.vat }}%</p>
    <p><a class="btn btn-primary" href="{{ path('inwinkelwagen', {'productId': product.id}) }}" role="button">In winkelwagen &raquo;</a></p>

</div>
{% endblock %}
