.offset-100 {
    margin-top: 100px;
}

.img-circle {
    box-shadow: 3px 3px 5px grey;
}

.text-xs-right {
    text-align: right;
}

.pull-xs-right {
    float: right !important;
}

.flash-notice {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 150px;
    font-size: 14px;
    color: white;
}
